################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/prj_TCC/telas html/login.aspx
/prj_TCC/telas html/login.aspx.cs
/prj_TCC/telas html/login.aspx.designer.cs
/.vs/prj_TCC/config/applicationhost.config
/.vs/prj_TCC/FileContentIndex/2cc84073-6bcb-4865-8604-85884251b50a.vsidx
/.vs/prj_TCC/FileContentIndex/58e3f6d8-0969-4b93-8d06-7fb291443688.vsidx
/.vs/prj_TCC/FileContentIndex/672b5672-4e3c-4999-b509-a66a9d35c766.vsidx
/.vs/prj_TCC/FileContentIndex/b47df9c9-9028-422d-8c8d-182fe8974fb8.vsidx
/.vs/prj_TCC/v17/.suo
/.vs/prj_TCC/v17/DocumentLayout.json
/.vs/tcc-projeto/v17/.wsuo
/.vs/tcc-projeto/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
/prj_TCC/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/prj_TCC/obj/Debug/prj_TCC.csproj.AssemblyReference.cache
