@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&family=Prompt:ital@0;1&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('img/fundo-site.png') no-repeat center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.header::after {
    content: ' ';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255,255,255, .4), transparent);
    transition: .5s;
}

.header:hover::after {
    left: 100%;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: #FAF4F4;
    text-decoration: none;
    font-weight: 700;
}

.logo img{
    height: 35px;
    width: 35px;
}

.navbar a {
    color: #faf4f4;
    font-size: 1.15rem;
    font-weight: 500;
    text-decoration: none;
    margin-left: 2.5rem;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #FAf4f4;
    cursor: pointer;
    display: none;
}



.btn {
    width: 200px;
    height: 60px;
    transition: all 0.3s ease-in-out;
    border-radius: 100px;
    background-image: linear-gradient(93.97deg, #CC208E 4.69%, #6713D2 135.3%);
    box-shadow: 0 20px 30px -6px rgba(171, 88, 219, 0.5);
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #faf4f4;
    box-shadow: 0px 6px 12px -2px rgba(50, 50, 93, 0.25), 0px 3px 7px -3px rgba(64, 64, 64, 0.13);
}

    .btn:hover {
        transform: translateY(10px);
        box-shadow: none;
    }

    .btn:active {
        opacity: 0.5;
    }



#check {
    display: none;
}

.container {
    background: linear-gradient(135deg, rgba(255,255,255, .1), rgba(255,255,255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255, .18);
    box-shadow: 0 8px 12px 0 rgba(0,0,0, .37);
}

.home {
    min-height: 100vh;
    z-index: 0;
    overflow: hidden;
    position: relative;
}

.home .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-top: 20rem;
    padding-bottom:4rem;
    text-align: center;
}

.home .content h1{
    font-size: 2rem;
    color: #fff;
    padding: 0 1rem;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
    text-transform: uppercase;
}

.home .content p{
    font-size:1.3rem;
    color: #eee;
    padding: 1rem 25rem;
}

.home .content button {
     height: 2.5rem;
     width: 13rem;
     border: none;
     border-radius: 5rem;
     background-color: #C31F94;
     color: #fff;
     font-size: 1.5rem;
     cursor: pointer;
     transition: .2s;
     box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.home .content button:hover{
    letter-spacing: .2rem;
}

.home .box-container{
    display:flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;

}

.home .box-container .box{
    height: 15rem;
    width: 20rem;
    background: #fff;
    text-align: center;
    border-radius: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 2rem;
    cursor:pointer;
}

.home .box-container .box i{
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    text-align:center;
    border-radius: 50%;
    color: #fff;
    background:#D269D5;
    font-size: 2rem;
    margin: 1rem 0;
    transition: .2s;
}

.home .box-container .box h3{
    font-size: 1rem;
    color: #881BB4;
    transition: .2s;
}

.home .box-container .box p{
    font-size: 1rem;
    padding: .4rem 1rem;
    color: #666;
}

.home .box-container .box:hover i{
    background:#881BB4;
}

.home .box-container .box:hover h3{
    color:#D269D5;
}

.home::before{
    content: '';
    position: absolute;
    bottom: -28%; left: 50%;
    transform: translateX(-50%);
    border-top:70vh solid #fff;
    width: 120%;
    border-radius:50%;
    z-index:-1;
}

.slide-container {
    margin: 0 30px;
    overflow: hidden;
}

.card {
    background: #fff;
    border-radius: 8px;
}

    .card .image-box {
        height: 200px;
    }

        .card .image-box img {
            width: 100%;
            height: 100%;
            border-radius: 8px 8px 0 0;
        }

    .card .profile-details {
        display: flex;
        align-items: center;
        column-gap: 12px;
        padding: 15px;
    }

        .card .profile-details img {
            height: 40px;
            width: 40px;
            border-radius: 50%;
        }

.profile-details .name {
    font-size: 15px;
    font-weight: 500;
}

.profile-details .job {
    font-size: 12px;
    font-weight: 500;
    color: #4d4d4d;
}

.swiper-navBtn {
    color: #000;
    height: 40px;
    width: 40px;
    background: #fff;
    border-radius: 50%;
}

    .swiper-navBtn::before,
    .swiper-navBtn::after {
        font-size: 18px;
    }

.swiper-pagination-bullet {
    background-color: #000;
}

/*RESPONSIVIDADE*/
@media (max-width: 992px) {
    header {
        padding: 1.3rem 5%;
    }
}

@media screen and (max-width: 768px) {
    .swiper-navBtn {
        display: none;
    }
}

@media (max-width: 768px) {

    html{
        font-size: 55%;
    }

    .icons{
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon{
        display:none;
    }

    .icons #close-icon{
        display:none;
    }

    #check:checked ~ .icons #close-icon {
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0,0,0, .1);
        backdrop-filter:blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0,0,0, .1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked ~ .navbar {
        height: 17.7rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align:center;
        transform: translateY(-50px);
        opacity:0;
        transition: .3s ease;
    }

    #check:checked ~ .navbar a {
        transform: translateY(0);
        opacity:1;
    }

    .home .content p{
        padding: 1rem 2rem;
    }

    .home::before{
        display: none;
    }
}