@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&family=Prompt:ital@0;1&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('img/fundo-site.png') no-repeat center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.header::after {
    content: ' ';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255,255,255, .4), transparent);
    transition: .5s;
}

.header:hover::after {
    left: 100%;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: #FAF4F4;
    text-decoration: none;
    font-weight: 700;
}

    .logo img {
        height: 35px;
        width: 35px;
    }



.navbar a {
    color: #faf4f4;
    font-size: 1.15rem;
    font-weight: 500;
    text-decoration: none;
    margin-left: 2.5rem;
}

.btn-cadastro {
    font-size: 14px;
    color: #fff;
    background-color: #881bb4;
    border: none;
    border-radius: 8px;
    transition: 236ms;
    transform: translateY(0);
    padding: 10px 30px;
}

    .btn-cadastro:hover {
        transition: 236ms;
        transform: translateY(-0px);
        background-color: #881bb4;
        color: #fafafa;
        border: none;
        padding: 10px 42px;
    }


.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #FAf4f4;
    cursor: pointer;
    display: none;
}



#check {
    display: none;
}


.swiper-navBtn {
    color: #000;
    height: 40px;
    width: 40px;
    background: #fff;
    border-radius: 50%;
}

    .swiper-navBtn::before,
    .swiper-navBtn::after {
        font-size: 18px;
    }

.swiper-pagination-bullet {
    background-color: #000;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    min-height: calc(100vh - 100px);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5rem;
}

.content__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .content__container h1 {
        font-size: 3rem;
        font-weight: 400;
        line-height: 3.5rem;
        color: #fafafa;
        margin-bottom: 1rem;
    }

.heading__1 {
    font-weight: 700;
}

.heading__2 {
    font-weight: 700;
    color: #470068;
}

.content__container p {
    font-size: 1rem;
    color: #fafafa;
    margin-bottom: 2rem;
}

.btn-cta {
    font-weight: 700;
    font-size: 14px;
    color: #fafafa;
    background: linear-gradient(306deg, #db00ff, #9300ab 70%);
    width: fit-content;
    padding: 10px 30px;
    border: 0;
    border-radius: 39px;
    transition: all 0.254s ease;
    align-items: center;
    cursor: pointer;
    text-align: center;
}

    .btn-cta:hover {
        padding: 10px 32px;
        transform: translateY(-5px);
    }

.image__container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    place-content: center;
}

    .image__container img {
        width: 100%;
        max-width: 300px;
        margin: auto;
        border-radius: 10px;
    }

        .image__container img:nth-child(1) {
            transform: translateY(70px);
        }

        .image__container img:nth-child(1) {
            transform: translateY(-70px);
        }

.image__content {
    position: absolute;
    width: 100%;
    max-width: 310px;
    left: 20%;
    top: 40%;
    transform: translate(-35%,50%);
    background: linear-gradient(to right, #DB00FF, #9300AB);
    color: #fafafa;
    padding: 1rem 2rem;
    border-radius: 10px;
}

    .image__content li {
        margin-bottom: .5rem;
    }



/*RESPONSIVIDADE*/
@media (max-width: 992px) {
    header {
        padding: 1.3rem 5%;
    }
}

@media screen and (max-width: 768px) {
    .swiper-navBtn {
        display: none;
    }
}

@media (max-width: 768px) {

    html {
        font-size: 55%;
    }

    .icons {
        display: inline-flex;
    }

    #check:checked ~ .icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked ~ .icons #close-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0,0,0, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0,0,0, .1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked ~ .navbar {
        height: 17.7rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }


    #check:checked ~ .navbar a {
        transform: translateY(0);
        opacity: 1;
    }
}
